{:asset-path "js/main.out", :output-dir "/home/andy/.boot/cache/tmp/home/andy/Dropbox/4D Cubing/Physical/2x2x2x2-Scrambler/iv1/xywofa/js/main.out", :output-to "/home/andy/.boot/cache/tmp/home/andy/Dropbox/4D Cubing/Physical/2x2x2x2-Scrambler/iv1/xywofa/js/main.js", :main boot.cljs.main2027, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__619 0x3e6b5c3a "adzerk.boot_cljs.impl$compile_cljs$handler__619@3e6b5c3a"]]}